html, body {
    overflow-x: hidden;
    width: 1315px;
    background-color: rgba(39, 245, 232, 0.5);
}

.head{
    text-align: center;
    height: 50px;
    border-radius: 5%;
    border: 1px black solid;
    margin-top: 125px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 300px;
    background-color: white;
    color: cadetblue;
    text-shadow: 2px 5px 5px lightblue;
}